@model ShoppingCartVM

<form method="post">

    <div class="card text-center rounded shadow">
        <div class="row m-3 px-4">
            <div class="col-12 bg-primary rounded py-2 my-3">
                <p class="card-title text-start text-white">Shopping Cart</p>
            </div>

            <div class="col-6">
                <div class="form-floating mb-1">
                    <input asp-for="Order.CustomerName" class="form-control" aria-required="true" placeholder="password" />
                    <label asp-for="Order.CustomerName">Customer Name</label>
                    <span asp-validation-for="Order.CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.StreetAddress" class="form-control" aria-required="true" placeholder="StreetAddress" />
                    <label asp-for="Order.StreetAddress">Street Address</label>
                    <span asp-validation-for="Order.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.City" class="form-control" aria-required="true" placeholder="City" />
                    <label asp-for="Order.City">City</label>
                    <span asp-validation-for="Order.City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.PostalCode" class="form-control" aria-required="true" placeholder="PostalCode" />
                    <label asp-for="Order.PostalCode">Postal Code</label>
                    <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Order.State" class="form-control" aria-required="true" placeholder="State" />
                    <label asp-for="Order.State">State</label>
                    <span asp-validation-for="Order.State" class="text-danger"></span>
                </div>

                <div class="form-floating mb-1">
                    <input asp-for="Order.PostalCode" class="form-control" aria-required="true" placeholder="State" />
                    <label asp-for="Order.PostalCode">Postal Code</label>
                    <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                </div>

                <div class="form-floating mb-1">
                    <input asp-for="Order.Phone" class="form-control" aria-required="true" placeholder="Phone" />
                    <label asp-for="Order.Phone">Phone</label>
                    <span asp-validation-for="Order.Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="col-6 border rounded">
                @foreach (var item in Model.CartItems)
                {
                    <div class="row">
                        <div class="col-6 ">
                            <h5 class="text-uppercase text-secondary">
                                <strong> @item.Book.BookTitle </strong>
                            </h5>
                        </div>

                        <div class="col-3">
                            <h6>
                                @item.Book.Price.ToString("c") &nbsp; x &nbsp; @item.Quantity
                            </h6>

                                                      
                        </div>

                        <div class="col-3">
                            Subtotal : @item.SubTotal.ToString("c")
                        </div>

                    </div>
                }

                <div class="col-12 text-end">
                    Order Total: @Model.Order.OrderTotal.ToString("c")
                </div>

            </div>
        </div>
    </div>
</form>